# Pandas Data
Pandas 에서 사용되는 Data Type 에 대해 알아봅니다.

## Import
보통 pd 로 많이 사용합니다.

In [1]:
import pandas as pd

version 확인

In [2]:
pd.__version__

'1.1.5'

## Series

Index 와 Value 로 구성되어 Python 의 Dictionary 와 유사한 형태이다.

### 데이터 생성

#### List 로 생성하기

In [3]:
data = pd.Series([1,2,3,4])
data

0    1
1    2
2    3
3    4
dtype: int64

#### Tuple 로 생성하기

In [4]:
data = pd.Series((1,2,3,4))
data

0    1
1    2
2    3
3    4
dtype: int64

#### Array 로 생성하기

In [5]:
import numpy as np
data = pd.Series(np.array([1,2,3,4]))
data

0    1
1    2
2    3
3    4
dtype: int64

#### Dictionary 로 생성하기

In [6]:
data = pd.Series({0 : 1, 1 : 2, 2 : 3, 3 : 4.5})
data

0    1.0
1    2.0
2    3.0
3    4.5
dtype: float64

#### 여러 자료 형 index 를 넣어 생성하기

In [7]:
data = pd.Series(["abc", 3, 4.5], index=["initial","ea","float"])
data

initial    abc
ea           3
float      4.5
dtype: object

### 데이터 접근

#### Index(키) 값 가져오기

In [8]:
data.index

Index(['initial', 'ea', 'float'], dtype='object')

#### Value 값 가져오기

In [9]:
data.values

array(['abc', 3, 4.5], dtype=object)

#### 특정 값 접근

In [10]:
data[2]

4.5

#### Index 명 바꾸기

In [11]:
data.index = ["what", "when", "where"]
data

what     abc
when       3
where    4.5
dtype: object

#### index 로 조회하기

In [12]:
data.at["what"]

'abc'

In [13]:
data[["what","where"]]

what     abc
where    4.5
dtype: object

#### 범위로 조회하기

In [14]:
data[0:2]

what    abc
when      3
dtype: object

In [15]:
data[-2:]

when       3
where    4.5
dtype: object

## DataFrame

인덱스가 같은 하나 이상의 Series 가 모여진 데이터형으로 DB 의 Table 과 유사한 형태이다.

### 데이터 생성

#### 데이터 생성예시

In [16]:
pdata = pd.DataFrame([ [1,2],[3,4],[5,6],[7,8] ])
pdata

   0  1
0  1  2
1  3  4
2  5  6
3  7  8

#### Index 와 컬럼명을 지정하여 생성하기

In [17]:
pdata = pd.DataFrame([[90,90,90],[75,90,75],[90,30,90],[45,45,45]], index=["철수","영희","영수","희영"], columns = ["국","영","수"])
pdata

     국   영   수
철수  90  90  90
영희  75  90  75
영수  90  30  90
희영  45  45  45

### 데이터 접근

#### column 조회

In [18]:
pdata["국"]

철수    90
영희    75
영수    90
희영    45
Name: 국, dtype: int64

#### Index 조회

In [19]:
pdata.loc["철수"]

국    90
영    90
수    90
Name: 철수, dtype: int64

In [20]:
pdata.loc[["철수","영희"]]

     국   영   수
철수  90  90  90
영희  75  90  75

In [21]:
pdata.iloc[0]

국    90
영    90
수    90
Name: 철수, dtype: int64

#### 범위로 조회

In [22]:
pdata.iloc[:2]

     국   영   수
철수  90  90  90
영희  75  90  75

#### Index 명 바꾸기

In [23]:
pdata.index = ["수철","희영","수영","영희"]
pdata

     국   영   수
수철  90  90  90
희영  75  90  75
수영  90  30  90
영희  45  45  45

In [24]:
pdata.columns = ["수","영","국"]
pdata

     수   영   국
수철  90  90  90
희영  75  90  75
수영  90  30  90
영희  45  45  45

In [25]:
pdata["과학"] = [90,75,30,45]
pdata

     수   영   국  과학
수철  90  90  90  90
희영  75  90  75  75
수영  90  30  90  30
영희  45  45  45  45